<div class="alert alert-primary text-center mb-2 lg" role="alert">
    ACTIVIDADES
  </div>

  <div class="card-deck">
    <div class="card">
      <img src="img/actividades/actividades1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Expotecnica</h5>
        <p class="card-text">La expotecnica, como cada a単o infaltable, con un altisimo nivel de proyectos y muy innovadores, competencias nacionales e internaciones, cosas como estas reflejan la buena disciplina de alummnos y docentes, uno de los mas destacados del Paraguay.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="img/actividades/actividades2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">San Juan</h5>
        <p class="card-text">Como el San Juan es tradicion en muchos colegios, en el CCTL no ibamos a quedarnos atras, todos los a単os se celebra tambien el increbile San Juan con juegos tipicos y espectaculares bailes tradicionales que nos brindan cada a単o los alummnos, imperdible!!!</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="img/actividades/actividades3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Chipa Apo</h5>
        <p class="card-text">No queremos que las costumbres de nuestro hermoso Paraguay se pierdan, por eso cada a単o realizamos el queridisimo chipa apo, donde realizamos chipa paraguaya al aire libre, una actividad para despejar la mente y divertirse entre todos, una actividad llena de alegria, para al final poder disfrutar de nuestra queridisima chipa paraguaya hecho al tatakua tradicional.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>