<%- include('header') -%>
<%- include('navbar') -%>
<%- include('footer') -%>

<div class="mx-auto" style="width: 300px;">
    <h2>Nuestra Historia</h2> 
</div>

<div class="row mt-3">
    <div class="col col-md-5">
        <div class="card">
            <div class="card-body">
                <h2>
                    HISTORIA
                </h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum ab nulla, quaerat iste vitae provident, magnam nostrum laboriosam nobis error ipsam a porro ad praesentium excepturi neque? Hic, a velit.
                </p>
            </div>
        </div>
    </div>

    <div class="col col-md-2 text-center">
        <button class="btn btn-primary">
            1989
        </button>
    </div>
</div>




<div class="row mt-3">
    <div class="col col-md-5">
    </div>

    <div class="col col-md-2 text-center">
        <button class="btn btn-primary">
            1994
        </button>
    </div>

    <div class="col col-md-5">
        <div class="card">
            <div class="card-body">
                <h2>
                    HISTORIA
                </h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam error in officiis quibusdam tempora ab cumque repudiandae adipisci odit quam iusto iure ducimus vel minus et, voluptate esse quo assumenda?
                </p>
            </div>
        </div>
    </div>
</div>




<div class="row mt-3">
    <div class="col col-md-5">
        <div class="card">
            <div class="card-body">
                <h2>
                    HISTORIA
                </h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum ab nulla, quaerat iste vitae provident, magnam nostrum laboriosam nobis error ipsam a porro ad praesentium excepturi neque? Hic, a velit.
                </p>
            </div>
        </div>
    </div>

    <div class="col col-md-2 text-center">
        <button class="btn btn-primary">
            1999
        </button>
    </div>
</div>




<div class="row mt-3">
    <div class="col col-md-5">
    </div>

    <div class="col col-md-2 text-center">
        <button class="btn btn-primary">
            2004
        </button>
    </div>

    <div class="col col-md-5">
        <div class="card">
            <div class="card-body">
                <h2>
                    HISTORIA
                </h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam error in officiis quibusdam tempora ab cumque repudiandae adipisci odit quam iusto iure ducimus vel minus et, voluptate esse quo assumenda?
                </p>
            </div>
        </div>
    </div>
</div>


<p style="height: 400px;"></p>
<%- include('pie') -%>




    



    
    

    
