<div class="pie">

    <i class="fas fa-copyright">Centro de Capacitacion Tecnica</i>
    <i class="fas fa-map-marked-alt">Mcal. Sucre Y la Paz</i>
    <i class="fas fa-phone-square-alt">+595 21 643 411</i>
    
</div>